<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 30px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" id="btn_home">Home</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/games" id="btn_games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories" id="btn_catgories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/companies" id="btn_companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/platforms" id="btn_platforms">Platforms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/fillExampleData" id="btn_platforms">Fill</a>
                </li>
                <li class="nav-item dropdown d-none">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Management</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/games_manage">Games</a>
                        <a class="dropdown-item" href="/categories_manage">Categories</a>
                        <a class="dropdown-item" href="/companies_manage">Companies</a>
                        <a class="dropdown-item" href="/platforms_manage">Platforms</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div id="content" class="d-flex justify-content-center">