<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <select style="width: 200px;" name="fruit" id="lol" multiple>
        <option value ="none">Nothing</option>
    </select>
    <button onclick="apd()">Apd</button>
    <button onclick="apr()">Apr</button>
    <script>
        let lol = document.getElementById('lol');
        let c = 0
        function apd(){
            let a = document.createElement('option');
            a.innerHTML = c;
            c++;
            lol.appendChild(a);
        }
        function apr(){
            
        }
    </script>
</body>
</html>